.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html {
  background-color: #f8f9fa;
}
.Logo {
  font-size: 25px;
  font-weight: bolder;
}
.List {
  background-color: #ffffff;
  max-width: 450px;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 5px;
  border-left: solid 3px #282c34;
  border-top: solid 3px #282c34;
  border-right: solid 3px #282c34;
  border-bottom: solid 3px #282c34;
}

.List>ul {
  list-style: none;
  margin: auto;
  max-width: 350px;
  max-width: 350px;
  background-color: #ffffff;
  border-right: solid 3px #282c34;
  border-bottom: solid 3px #282c34;
  border-left: solid 3px #282c34;
  border-top: solid 3px #282c34;
}
.List>ul>li {
  margin: auto;
  margin-right: 30px;
  max-width: 330px;
  min-width: 330px;
    border-bottom:dashed 1px black;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.MessangerContainer {
  background-color: #f8f9fa;
  border:3px solid #6c757d;
  max-width: 600px;
  margin: auto;
  padding-bottom: 15px;
}
.AnnouncementContainer {
  background-color: #ffffff;
  max-width: 600px;
  margin: auto;
  padding-bottom: 15px;
}
.NavBar {
  background-color: #6c757d;
  max-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.NavBar a {
  text-decoration: none;
}
.NavBar a:visited {
  color: black;
}
.NavBar a:hover {
  color:rgba(0, 0, 0, 0.61);
}
.NavBar a:active {
  background-color: rgba(0, 0, 0, 0.096);
}
.ListA>ul {
  list-style: none;
  margin: auto;
  max-width: 350px;
  background-color: #ffffff;
  border-right: solid 3px #282c34;
  border-bottom: solid 3px #282c34;
  border-left: solid 3px #282c34;
  border-top: solid 3px #282c34;
}
.ListA>ul>li {
   margin: auto;
  margin-right: 30px;
  max-width: 330px;
  min-width: 330px;
    border-bottom:dashed 1px black;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}